* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}

body {
  background: #252525; /* A dark background color */
}

canvas {
  touch-action: none; /* Prevents default browser actions on touch devices */
  width: 100%;
  height: 100%;
}